beautifulsoup4==4.12.3
build==1.0.3
certifi==2024.6.2
chardet==5.2.0
charset-normalizer==3.3.2
gitdb==4.0.12
GitPython==3.1.44
html5lib==1.1
idna==3.7
importlib-metadata==6.8.0
lxml==5.2.2
numpy==1.26.4
packaging==23.1
pandas==2.2.2
pyproject_hooks==1.0.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
six==1.16.0
smmap==5.0.2
soupsieve==2.5
tomli==2.0.1
tzdata==2024.1
urllib3==2.2.1
webencodings==0.5.1
zipp==3.17.0
